

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .farma-imagem {
    position: relative;
    text-align: center;
    height: 35vw;
    background-image: url('../../imagens/farmaceutico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000008f;
    overflow: hidden;

  }

  .seta-para-baixo {
    position: absolute;
    bottom: 145px;
    animation: moveButton 2s infinite alternate;
  }
  
  button {
    background-color: #4caf4f00;
    color: #034873;
    padding: 20px 32px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  @keyframes moveButton {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(35px);
    }
  }

  .seta-para-baixo {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: moveButton 2s infinite alternate;
    z-index: 1;
  }
  
  .material-symbols-outlined  {
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#conteudo-abaixo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f5f1f1;
  text-align:left;
}


#conteudo-abaixo img {
  width: 20%;
  max-width: 800px;
  height: 20%;
  border-radius: 10px;
}

#conteudo-abaixo h4 {
  flex: 1;
  margin-left: -10px;
  max-width: 400px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -5%;
  font-weight: 400;
  font-size: 0.9vw;
}

.titulo {
  flex: 1;
  margin-left: -25%;
  margin-top: -25%;
  max-width: 400px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  position: absolute;
  left: 76.5%;
}

.img-big {
    position: relative;
    text-align: center;
    height: 30vw;
    background-image: url('https://plus.unsplash.com/premium_photo-1661777361143-4e7a5cf85cb2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000008f;
    overflow: hidden;
    width: 29vw;
    border-radius: 3vw;
    box-shadow: 0 0 15px #333;
    left: -10%;

}

.seta-para-baixo-soft {
  position: absolute;
  bottom: -525px;
  animation: moveButton 2s infinite alternate;

  left: 45%;
  
}

#conteudo-soft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f5f5f5;
  text-align:left;
}

#conteudo-soft img {
  position: absolute;
  width: 20%;
  max-width: 800px;
  height: 20%;
  border-radius: 10px;
}

#conteudo-soft h4 {
  position: absolute;
  flex: 1;
  margin-left: -47vw;
  max-width: 400px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -5%;
  font-weight: 400;
  font-size: 0.9vw;
}

#conteudo-soft p {
  text-align: left;
  flex: 1;
  margin-left: -63%;
  margin-top: -25%;
  max-width: 400px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  position: absolute;
  left: 76.5%;
}

.img-soft {
  position: relative;
  text-align: center;
  height: 30vw;
  background-image: url('https://img.freepik.com/fotos-gratis/farmaceutica-jovem-hispanica-sorrindo-confiante-em-pe-com-gesto-de-bracos-cruzados-na-farmacia_839833-7087.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000008f;
  overflow: hidden;
  width: 29vw;
  border-radius: 3vw;
  box-shadow: 0 0 15px #333;
  left: 15%;

}

.seta-para-baixo-cloud {
  position: absolute;
  bottom: -1200px;
  animation: moveButton 2s infinite alternate;

  left: 45%;
  
}

#conteudo-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f5f1f1;
  text-align:left;
}

#conteudo-cloud img {
  width: 20%;
  max-width: 800px;
  height: 20%;
  border-radius: 10px;
}

#conteudo-cloud h4{
  flex: 1;
  margin-left: -10px;
  max-width: 400px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -5%;
  font-weight: 400;
  font-size: 0.9vw;
}


#conteudo-cloud p {
  flex: 1;
  margin-left: 20px;
  max-width: 400px;
}

.img-cloud {
  position: relative;
  text-align: center;
  height: 30vw;
  background-image: url('https://www.linx.com.br/app/uploads/2021/12/Imagens_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000008f;
  overflow: hidden;
  width: 29vw;
  border-radius: 3vw;
  box-shadow: 0 0 15px #333;
  left: -10%;
}


.saiba-mais-btn::before {
  margin: auto;
  float: right;
}

.saiba-mais-btn {
  float: center;
  border-radius: 5vw 20vw 5vw 20vw;
  padding: 0 2vw;
  height: 4vw;
  border: none;
  cursor: pointer;
  background: linear-gradient(to bottom, #011126, #034873);
  color: #fff;
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.3s, font-weight 0.3s, background 0.3s;
  margin-top: 12%;
  position: absolute;
  left: 52%;
}

.saiba-mais-btn:hover {
  box-shadow: 0 0 0.5vw #011126;
  font-weight: 700;
  background: linear-gradient(to bottom, #034873, #011126);
}

.saiba-mais-btn2::before {
  margin: auto;
  float: right;
}

.saiba-mais-btn2 {
  float: center;
  border-radius: 5vw 20vw 5vw 20vw;
  padding: 0 2vw;
  height: 4vw;
  border: none;
  cursor: pointer;
  background: linear-gradient(to bottom, #011126, #034873);
  color: #fff;
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.3s, font-weight 0.3s, background 0.3s;
  margin-top: 12%;
  position: absolute;
  left: 13%;
}

.saiba-mais-btn2:hover {
  box-shadow: 0 0 0.5vw #011126;
  font-weight: 700;
  background: linear-gradient(to bottom, #034873, #011126);
}

.sistemas {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px; 
  line-height: 100px; 
  text-align: center; 
  color: orangered;
  background-color: yellow;
  transition: background-color 0.3s; 

}

.sistemas:hover {
  background-color: orange; /* Muda a cor de fundo para laranja ao passar o mouse */
}