:root {
    --size: 50px;
    --gap: 10px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .farma-imagem {
    position: relative;
    text-align: center;
    height: 80vh;
    background-image: url('../../imagens/farmaceutico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000008f;
    overflow: hidden;
    mask: 
      linear-gradient(#000 0 0) top/100% calc(100% - 1.5*var(--size)) no-repeat,
      radial-gradient(farthest-side, #000 98%, #0000) bottom/calc(4*var(--size)) calc(8*var(--size)) no-repeat;
  }
  
  .seta-para-baixo {
    position: absolute;
    bottom: 20px;
    animation: moveButton 2s infinite alternate;
  }
  
  button {
    background-color: #4caf4f00;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
    border-radius: 50%;
  }
  
  button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  }
  
  @keyframes moveButton {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(50px);
    }
  }
  
  .conheca-text {
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
  