body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.contatos {
    width: 100%;
    text-align: left;
    border-bottom:0.1vh solid #ccc;
}
.main-contatos{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.contatos a {
    display: inline-block;
    color: #888888;
    font-weight: 400;
    font-size: 1vw;
    text-decoration: none;
    margin:1vw;
    margin-right: 3vw;
}
.contatos span{
    font-size: 1.5vw;
    color: #888888;
    font-weight: 400;
    margin: auto 0;
}
.menu {
    border-bottom:0.1vh solid #ccc;
    display: flex;
}
.main-menu{
    display: flex;
    flex-direction: row;
}
.menu  a{
    display: block;
    margin: auto 1vh;
}
.menu .logo {
    height: 4vw;
}
.menu nav {
    display: flex;
    height: 5vw;
}
.menu nav ul{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    list-style: none;
}
.menu nav ul li {
    max-width:15vw;
    display: flex;
    text-align: center;
    padding: 0 1vw;
}
.menu nav ul li span{
    height: 100%;
    display: flex;
    font-size: 1.1vw;
    align-content: center;
    flex-wrap: wrap;
}
.menu nav ul li:hover span{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
    cursor:pointer;
}
.menu nav ul li ul{
    display: none;
    position: absolute;
    margin-top:5vw;
    border-top: 0.2vw solid #034873;
    z-index: 50;
    background: #fff;
}
.menu nav ul li:hover ul{
    display: block;
}
.menu nav ul li ul li{
    min-width: 20vw;
    padding: 0.5vw 0.5vw;
}
.menu nav ul li ul li a{
    text-decoration: none;
    color:#333;
    display: block;
    font-size: 1vw;
}
.menu nav ul li ul li:hover a{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
    
}
iframe{
    border:none;
    height: calc(100vh - 8.3vw);
}
.sobre-nos{
    margin: auto 0;
    margin-left:auto;
    margin-right: 20vw;
    border-radius: 5vw 20vw 5vw 20vw;
    padding: 0 2vw;
    height:90%;
    border:none;
    cursor:pointer;
    background: linear-gradient(to bottom, #011126, #034873);
    color: #fff;
    
    font-family: "Roboto", sans-serif;
}
.sobre-nos:hover{
    box-shadow: 0 0 0.5vw #011126;
    font-weight: 700;
    background: linear-gradient(to bottom, #034873, #011126);
}