::-webkit-scrollbar {
    width: 0px;  
}
html {
    scrollbar-width: none;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.contatos {
    width: 100%;
    text-align: left;
    border-bottom:0.1vh solid #ccc;
}
.main-contatos{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.contatos a {
    display: inline-block;
    color: #888888;
    font-weight: 400;
    font-size: 1vw;
    text-decoration: none;
    margin:1vw;
    margin-right: 3vw;
}
.contatos span{
    font-size: 1.5vw;
    color: #888888;
    font-weight: 400;
    margin: auto 0;
}
.menu {
    border-bottom:0.1vh solid #ccc;
    display: flex;
}
.main-menu{
    display: flex;
    flex-direction: row;
}
.menu .logo {
    height: 4vw;
    margin: auto 1vh;
}
.menu nav {
    display: flex;
    height: 5vw;
}
.menu nav ul{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    list-style: none;
}
.menu nav ul li {
    max-width:15vw;
    display: flex;
    text-align: center;
    padding: 0 1vw;
}
.menu nav ul li span{
    height: 100%;
    display: flex;
    font-size: 1.1vw;
    align-content: center;
    flex-wrap: wrap;
}
.menu nav ul li:hover span{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
    cursor:pointer;
}
.menu nav ul li ul{
    display: none;
    position: absolute;
    margin-top:5vw;
    border-top: 0.2vw solid #034873;
    z-index: 50;
    background: #fff;
}
.menu nav ul li:hover ul{
    display: block;
}
.menu nav ul li ul li{
    min-width: 20vw;
    padding: 0.5vw 0.5vw;
}
.menu nav ul li ul li a{
    text-decoration: none;
    color:#333;
    display: block;
    font-size: 1vw;
}
.menu nav ul li ul li:hover a{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
    
}
.imagens-section {
    text-align: center;
    position: relative;
    z-index: 40;
    height: 30vw;
}
.background-image{
    width: 100%;
    height: 30vw;
    background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: overlay;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imagem-oculta{
    display: none;
}
.imagens-section {
    display: block;
}
.imagem-atual{
    display: block;
}
.seta {
    color: #fff;
    text-shadow: 0 0 1vw #fff;
    border: none;
    cursor: pointer;
    border-radius: 5vw; 
    padding: 2vw;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.seta:hover span{
    font-size: 3vw;
}
.seta span{
    font-size: 2vw;
}
.seta-esquerda {
    left: 1vw;
}
.seta-direita {
    right: 1vw;
}
.msg-box{
    background-color: #011126cc; 
    box-shadow: 0 0 1vw #011126;
    text-align: center;
    max-width: 50vw;
    padding: 2vw;
    border-radius: 2vw;
    position: absolute;
    top:10%;
    left:10%;
}
.msg-box h2{
    color:#0388A6;
    text-shadow: 0 0 0.1vw #034873;
    font-size: 1.2vw;
    margin:0;
    padding:0;
}
.msg-box p{
    color:#fff;
    text-align: center;
    font-size: 1vw;
    margin:0;
    padding:0;
}
.apresentacao {
    text-align: center; 
    width: 100%;
}
.apresentacao h1{
    color:#034873;
    margin: 2vw;
    padding: 0;
    font-size: 2vw;
}
.bloco-informativo {
    display: flex;
    align-items: center;
    width: 30%;
    background-color: #011126;
    box-shadow: 0 0 0.5vw #011126;
    border-radius: 2vw;
    height: 40vw;
    color: #fff;
    flex-direction: column;
    min-height: 38vw;
    text-align: center;
    
}
.bloco-informativo{
    overflow: hidden;
    
}
.imagem-informativa {
    width: 100%;
}

.bloco-informativo img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 2vw 2vw 0 0;
}
.bloco-informativo h3{
    font-size: 1.5vw;
    padding: 0 20px;
}
.bloco-informativo p{
    font-size: 1.1vw;
    padding: 0 20px;
}
.outras-secoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.submenu.show-submenu {
    display: block;
}

button {
    background-color: rgb(185, 6, 185);
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(180, 5, 255);
}

.copyright {
    color: #034873;
    text-align: center;
}

/* Adicione ao seu arquivo de estilo.css ou crie um novo arquivo para estes estilos */

.clientes {
    text-align: center;
    margin-top: 30px;
}

.clientes h2 {
    font-size: 24px;
}

.clientes-slider {
    overflow: hidden;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.clientes-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.cliente {
    flex: 0 0 200px;
    margin-right: 10px;
    text-align: center;
}

.cliente img {
    max-width: 100%;
    border-radius: 50%;
}

/* Adicione ao seu arquivo de estilo.css */

.setinhas {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.setinha {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #011126;
    padding: 10px;
    border-radius: 50%;
}

/* Adicione ao seu arquivo de estilo.css */

.setinha-esquerda {
    order: 1;
}

.setinha-direita {
    order: 2;
}
