body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.contatos {
    width: 100%;
    text-align: left;
    border-bottom:0.1vh solid #ccc;
}
.main-contatos{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.contatos a {
    display: inline-block;
    color: #888888;
    font-weight: 400;
    font-size: 1vw;
    text-decoration: none;
    margin:1vw;
    margin-right: 3vw;
}
.contatos span{
    font-size: 1.5vw;
    color: #888888;
    font-weight: 400;
    margin: auto 0;
}
.menu {
    border-bottom:0.1vh solid #ccc;
    display: flex;
}
.main-menu{
    display: flex;
    flex-direction: row;
}
.menu  a{
    display: block;
    margin: auto 1vh;
}
.menu .logo {
    height: 4vw;
}
.menu nav {
    display: flex;
    height: 5vw;
}
.menu nav ul{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    list-style: none;
}
.menu nav ul li {
    max-width:15vw;
    display: flex;
    text-align: center;
    padding: 0 1vw;
}
.menu nav ul li span{
    height: 100%;
    display: flex;
    font-size: 1.1vw;
    align-content: center;
    flex-wrap: wrap;
}
.menu nav ul li:hover span{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
    cursor:pointer;
}
.menu nav ul li ul{
    display: none;
    position: absolute;
    margin-top:5vw;
    border-top: 0.2vw solid #034873;
    z-index: 50;
    background: #fff;
}
.menu nav ul li:hover ul{
    display: block;
}
.menu nav ul li ul li{
    min-width: 20vw;
    padding: 0.5vw 0.5vw;
    width: 100%;
}
.menu nav ul li ul li a{
    text-decoration: none;
    color:#333;
    display: block;
    font-size: 1vw;
    width: 100%;
    text-align: left;
}
.menu nav ul li ul li:hover a{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
}
iframe{
    border:none;
    height: calc(100vh - 8.3vw);
}
@media screen and (max-width: 500px) {
    body{
        width: 100%;
    }
    main{
        width: 95%;
    }
    .contatos{
        position: absolute;
        border: none;
        margin-left: 20%;
        text-align: center;
        width: 80%;
        margin-top:3.5vw;
    }
    .main-contatos{
        flex-direction: column;
    }
    .contatos a {
        font-size: 3vw;
        font-weight: 700;
        color: #011126;
    }
    .contatos span{
        display: none;
    }
    .main-menu{
        height: 28vw;
    }
    .menu nav{
        position: absolute;
        height: 10vw;
        width: 95%;
        bottom:calc(100vh - 28vw);
    }
    .menu a{
        margin-top: 2vw;
    }
    .menu .logo {
        height: 15vw;
    }
    .menu nav ul li span{
        font-size: 5.2vw;
    }
    .menu nav ul{
        width: 100%;
        justify-content: space-between; 
    }
    .menu nav ul li {
        max-width: none;
    }
    .menu nav ul li ul{
        position: absolute;
        left: 0.1vw;
        width: 100%;
        margin-top: 10vw;
        border-top: 1vw solid #034873;
    }
    .menu nav ul li ul li a{
        font-size: 5vw;
    }
    iframe{
        border:none;
        height: calc(100vh - 28vw);
    }

}