.mobile{
    display:none;
}
.desktop{
    display:block;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.contatos {
    width: 100%;
    text-align: left;
    background-color: #011126;
}
.main-contatos{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.contatos a {
    display: inline-block;
    color: #f2f2f2;
    font-weight: 400;
    font-size: 0.8vw;
    text-decoration: none;
    margin:0.6vw;
    margin-right: 3vw;
}
.contatos span{
    font-size: 1vw;
    color: #f2f2f2;
    font-weight: 400;
    margin: auto 0;
}
.menu {
    border-bottom:0.1vh solid #ccc;
    display: flex;
}
.main-menu{
    display: flex;
    flex-direction: row;
}
.menu a{
    display: block;
    margin-top: 0.6vw ;
    margin-left: 0;
    margin-right: 2vw;
}
.menu .logo {
    height: 3vw;
}
.menu nav {
    display: flex;
    height: 4vw;
}
.menu-inicial{
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 100%;
    margin: 0;
    list-style: none;
}
.menu-inicial li {
    display: flex;
    text-align: center;
    padding: 0 3vw;
}
.menu-inicial li a{
    font-size: 1.1vw;
    text-decoration: none;
    color: #000;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu-inicial li span{
    height: 100%;
    display: flex;
    font-size: 1.1vw;
    align-content: center;
    flex-wrap: wrap;
}
.menu-inicial li:hover span{
    color:#034873;
    text-shadow: 0 0 0.1vw #011126;
    cursor:pointer;
}
.menu-segundario {
    display: none;
    position: absolute;
    margin-top: 4vw;
    border-top: 0.2vw solid #034873;
    z-index: 50;
    background: #fff;
    padding: 0;
}
.menu-segundario li {
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu-segundario li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 1vw;
    width: 100%;
    text-align: left;
    padding: 1vw 0.5vw;
    padding-right: 5vw;
    margin: 0;
}
.menu-segundario li:hover a {
    color: #034873;
    text-shadow: 0 0 0.1vw #011126;
}
iframe{
    border:none;
    height: calc(100vh - 6vw);
}

@media screen and (max-width: 500px) {
    html{
        width: 100vw;
        height: 100vh;
    };
    body{
        width: 100vw;
        height: 100vh;
    }
    .mobile{
        display:block;
    }
    .desktop{
        display:none;
    }
    .contatos{
        width: 100%;
        background-color: #011126;
    }
    .contatos a{
        font-size: 2.5vw;
    }
    .contatos span{
        font-size: 2vw;
    }
    .menu{
        height: 12.5vw;
        background-color: #011126;
        border: none;
    }
    .main-contatos{
        display: flex;
        width: 90%;
        justify-content: center;
    }
    .menu .logo {
        height: 8vw;
        padding: 2vw 0;
        margin:0;
    }
    main{
        width: 90%;
    }
    .menu nav{
        height: 100%;
        width: 100%;
    }
    .menu-inicial li a{
        color:#fff;
        background-color: #011126;
    }
    .menu-inicial li span{
        color:#fff;
        font-size: 3.5vw;
    }
    .menu-inicial li:hover span{
        color:#fff;
    }
    .menu-segundario{
        margin-top: 12.5vw;
        border-top: 0.8vw solid #034873;
    }
    .menu-segundario li a {
        font-size: 3.5vw;
        padding: 3vw 1.5vw;
        padding-right: 15vw;
    }
    .menu-segundario li:hover a {
        color: #fff;
    }
    iframe{
        position: fixed;
        top: 16.7vw;
        left: 0;
        width: 100%;
        height: calc(100% - 16.6vw);
        border: none;
        z-index: 1;
    }
}