body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.contatos {
    width: 100%;
    text-align: left;
    border-bottom:1px solid #ccc;
}
.main-contatos{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.contatos a {
    display: inline-block;
    color: #888888;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    margin:10px;
}
.menu {
    border-bottom:1px solid #ccc;
    display: flex;
}
.main-menu{
    display: flex;
    flex-direction: row;
}
.menu .logo {
    height: 50px;
    margin: auto 50px;
}
.menu nav {
    display: flex;
    height: 70px;
}
.menu nav ul{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    list-style: none;
}
.menu nav ul li {
    max-width:150px;
    display: flex;
    text-align: center;
    padding: 0 10px;
}
.menu nav ul li span{
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.menu nav ul li:hover span{
    color:#034873;
    text-shadow: 0 0 1px #011126;
    cursor:pointer;
}
.menu nav ul li ul{
    display: none;
    position: absolute;
    margin-top:70px;
    border-top: 2px solid #034873;
    z-index: 50;
    background: #fff;
}
.menu nav ul li:hover ul{
    display: block;
}
.menu nav ul li ul li{
    min-width: 200px;
    padding: 5px 5px;
}
.menu nav ul li ul li a{
    text-decoration: none;
    color:#333;
    display: block;
}
.menu nav ul li ul li:hover a{
    color:#034873;
    text-shadow: 0 0 1px #011126;
    
}
.imagens-section {
    text-align: center;
    position: relative;
    z-index: 40;
    height: 500px;
}
.background-image{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: overlay;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imagem-oculta{
    display: none;
}
.imagens-section {
    display: block;
}
.imagem-atual{
    display: block;
}
.seta {
    background-color: #011126cc; 
    box-shadow: 0 0 10px #011126;
    color: whitesmoke;
    text-shadow: 0 0 10px #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px; 
    transition: background-color 0.3s ease;
    line-height: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
.seta:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.seta-esquerda {
    left: 10px;
}
.seta-direita {
    right: 10px;
}
.msg-box{
    background-color: #011126cc; 
    box-shadow: 0 0 10px #011126;
    text-align: center;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    top:50px;
    left:150px;
}
.msg-box h2{
    color:#0388A6;
    text-shadow: 0 0 1px #034873;
}
.msg-box p{
    color:#fff;
    text-align: center;
}

.indicadores {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-top: -34px;
}

.indicadores ul {
    list-style: none;
    display: flex;
    padding: 0;
    background-color: transparent;
}

.indicadores .indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.indicadores .indicador.ativo {
    background-color: whitesmoke;
}

.apresentacao {
    text-align: center; /* Centralizar horizontalmente */
    letter-spacing: -1px; /* Ajustar o espaçamento entre as letras */
    width: 100%;
}

.separacao {
    margin: 0;
    padding: 0;
}

.placadeinf {
    margin: 0;
    padding: 0;
}

.bloco-informativo {
    display: flex;
    align-items: center;
    width: 350px;
    margin: 10px;
    box-shadow: 0 0 12px #333;
    border-radius: 20px;
    height: 300px;
    color: #000;
    flex-direction: column;
    min-height: 350px;
    text-align: center;
}

.bloco-informativo .imagem-container {
    width: 100%;
    height: 150px; /* Ajuste a altura desejada */
    overflow: hidden;
    border-radius: 5px 5px 0 0; /* Borda arredondada apenas no topo */
}

.bloco-informativo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 20px 20px 0 0;
}

.outras-secoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagem-container {
    padding: 0;
}

.submenu.show-submenu {
    display: block;
}

button {
    background-color: rgb(185, 6, 185);
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(180, 5, 255);
}

