body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav {
    display: flex;
}

.infos {
    width: 100%;
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
    z-index: 2; /* Z-index maior do que o das imagens */
}

.infos h4 {
    color: #000;
    font-weight: bold;
    filter: grayscale(100%);
    margin: 0;
    padding: 8px;
}

.infos a {
    text-decoration: none;
}

.centro {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 50px;
    margin: 20px 0px;
    display: inline-block;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
    margin: 20px 0px;
    background-color: #ccc;
    position: relative;
    z-index: 2; /* Z-index maior do que o das imagens */
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid #333;
    cursor: pointer;
}

ul li:hover ul li {
    display: block;
}

ul li ul {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #333;
    margin-top: 8px;
    z-index: 3; /* Z-index maior do que o das imagens e do pai ul */
}

li ul li {
    display: none;
    border: none;
}

li ul li:hover {
    background-color: #ccc;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.imagens-section {
    text-align: center;
    position: relative;
    z-index: 1; /* Z-index menor do que o das sublistas */
}

.imagens-section img {
    width: 100%;
    display: none;
    height: 400px;
}

.imagens-section .imagem-atual {
    display: block;
}

.seta-esquerda,
.seta-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto claro com transparência */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    position: absolute;
    top: 20%;
    right: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px; /* Borda arredondada para simular um balão */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imagem-container:hover .info-box {
    opacity: 1;
}


.info-box strong {
    color: rgb(210, 5, 210); /* Letras roxas dentro de <strong> */
}

.seta {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto claro com transparência */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 15px; /* Espaçamento interno para o botão */
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.seta:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto claro com transparência */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

