body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
}

.cabecalho h4 {
    color: #000;
    font-weight: bold;
    filter: grayscale(100%);
    margin: 0;
}


.logo {
    height: 100px;
    display: inline-block;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
    
}


ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid #333;
    cursor: pointer;
}

ul li:hover ul li{
    display: block;
}

ul li ul {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #333;
    margin-top: 8px;
}

li ul li {
    display: none;
    border: none;
}

li ul li:hover {
    background-color: #ccc;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.imagens-section {
    text-align: center;
    margin-top: 50vh; 
    position: relative;
}

.imagens-section img {
    width: 100%;
    max-width: 600px; /* Ajuste o valor conforme necessário */
    height: auto;
    display: none; /* Inicialmente, oculta todas as imagens */
}

.imagens-section .imagem-atual {
    display: block; /* Mostra apenas a imagem atual */
}

.seta-esquerda, .seta-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    opacity: 0; /* Inicialmente, a seta é invisível */
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}