::-webkit-scrollbar {
  width: 0px;  
}
  html {
    scrollbar-width: none;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  .moda-imagem {
      width: 100%;
      height: 30vw;
      background-image: url('../../imagens/imagemlinxcloud (2).jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #0000008f;
    }

    .proximo-conteudo {
      animation: moveButton 2s infinite alternate;
      height: 3vw;
      display: flex;
      justify-content: center;
      margin: 1.5vw 0;
    }
    .proximo-conteudo button{
      height: 100%;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
    .proximo-conteudo button span{
      font-size: 2.8vw;
      color: #034873;
    }
    @keyframes moveButton {
      0% {
        transform: translateY(-1vw);
      }
      100% {
        transform: translateY(1vw);
      }
    }
   
  footer{
    border:none;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #011126;
  }
  footer p{
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
  }
  .copyright {
    color: #fff;
    text-align: center;
    background-color: #011126;
    margin: 0;
    padding: 1vw;
  }

  informacoes {
    text-align: center;
  }
  
  .sub-texto h2{
    color: #4a3872;
    font-family: sans-serif;
  }

  .blocodeinf {
    background-color: #f2f2f2;
  }
  
  .sub-texto {
    max-width: 800px;
    margin: 0 auto;
    padding: 2vw;
  
    @media only screen and (max-width: 600px) {
      padding: 5vw;
    }
  
    h2 {
      font-size: 2.5vw;
      margin-bottom: 1vw;
    }
  
    p {
      font-size: 1.5vw;
      line-height: 1.5;
    }
  }

  .bloco-cor {
    background-color: #f2f2f2;
    padding: 0vw;
  }
  
  .conteudo-mcx {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .novos-recursos {
    width: 50%;
  }
  
  .novos-recursos h3 {
    font-size: 1.5vw;
    color: #4a3872;
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-left: 0%;
  }
  
  .novos-recursos p {
    font-size: 1.2vw;
  }
  
  .imagem-recursos img {
    height: auto;
    max-height: 19vw;
  }
  
  .imagens-section {
    display: flex;
    overflow-x: auto;
  }

.bloco-imagem {
    width: 100vw;
    padding: 2vw;
    box-sizing: border-box;
    text-align: center;
}

.bloco-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.mensagem {
    margin-top: 1vw;
}

.button-orcamento {

    background-color: #034873;
    color: #fff;
    padding: 0.5vw 1vw;
    border-radius: 0.9vw;
    cursor: pointer;
}

.outras-secoes {
  display: flex; 
  gap: 2vw;
  justify-content: center; 
}

.bloco-informativo {
  width: calc(30% - 9vw); 
  margin-bottom: 2vw;
  padding: 1.5vw;
  box-sizing: border-box;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 2.2vw;
  box-shadow: #000000;
}


.imagem-container img {
  max-width: 100%;
  height: 8vw;
  border-radius: 2vw;
  padding: -3vw;

}


.bloco-informativo h3 {
  margin-top: 1vw;
  font-size: 1vw;
  color: #7724c5;
}


.bloco-informativo p {
  margin-top: 1vw;
  font-size: 1vw;
  color: #070707;
}


.bloco-informativo button {

  padding: 1vw 2vw;
  background-color: #007bff;
  color: #fff;
  border: #333;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bloco-informativo button:hover {
  background-color: #0056b3;
}

.btn-esquerda {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
}

.btn-esquerda .icon {
  display: block;
  width: 2vw;
  height: 2vw;
  background-color: #333; 

}

.btn-esquerda:hover {
  width: 4vw;
  height: 4vw; 
}